
.home-navbar {
  display: flex;
  justify-content: end;
  height: 20px;
}

.home-navbar a {
  text-decoration: none;
  margin-left: 30px;
  color: #061031;
  font-weight: 600;
}
.home-navbar a:hover {
  color:#5c73bb;
}
.nav-icon{
  margin-right: 8px;
  font-size: 18px;
}
.money {
  color: rgb(66, 179, 66);
}
.car {
  color: #BF3100;
}
.sign-in-container{
  margin-left: 20px;
  position: relative;
  margin-right: 10px;
}
.sign-in-container a {
 color: white;
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 35px;
 padding-right: 15px;
 margin-left: 0;
 background-color: #061031;

}
.user-icon{
  color: white;
  position: absolute;
  top: 4px;
  left: 10px;
  font-size: 15px;
}

.sign-up-container a{
  text-decoration: underline;
}