
.home-navbar {
  display: flex;
  justify-content: end;
  padding-right: 20px;
  background-color:#061031;
}

.home-navbar a {
  text-decoration: none;
  margin-left: 30px;
  color: white;
  font-weight: 700;
}
.home-navbar a:hover {
  color:#5c73bb;
}
.nav-icon{
  margin-right: 8px;
  font-size: 18px;
}
.money {
  color: rgb(66, 179, 66);
}
.car {
  color: #BF3100;
}
.sign-in-button-container{
  margin-left: 20px;
  position: relative;
}
.sign-in-button-container a {
 color: white;
 padding-top: 8px;
 padding-bottom: 8px;
 padding-left: 35px;
 padding-right: 15px;
 margin-left: 0;
 background-color: #061031;
}
.user-icon{
  color: white;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 15px;
}

.sign-up-button-container a{
  text-decoration: underline;
}
.flex {
  display: flex;
}
.username__container {
  font-weight: 700;
  margin-left: 20px;
  color: wheat;
}
.username {
  background-color: #CED5EB;
  border-radius: 50%;
  padding: 5px 10px;
}
.username__container a {
  text-decoration: none;
  color:#5b1902;
  margin-left: 5px;
  font-size: 18px;
  text-transform: capitalize;
}
.username__container a:hover{
cursor: pointer;
}